html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

.wrapper {
  margin: 0 auto;
  max-width: $desktop-width;
}

body {
  font-family: $Muller;
  background-color: #ffffff;
  font-weight: 400;
  color: $grey;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

main {
  display: block;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

//&:active,
//&:hover,
//&:focus {
//  outline: 0;
//  outline-offset: 0;
//}

/*
 * Слой маска
 */
.mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.show {
  display: block;
}

.overflow-hidden {
  overflow: hidden;
}

.none__list-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.red-button {
  background-color: $red;
  color: #ffffff;
  border: none;
  padding: 15px 60px;
  font-size: 18px;
  font-weight: 700;
}

.section-title {
  font-size: 45px;
  font-weight: 700;
}
