/*
 * Секция о компании
 */
.about-company .wrapper {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    max-width: 800px;
    margin: 0 auto;
  }

  @include desktop {
    max-width: $desktop-width;
  }
}

.about-company__left,
.about-company__right {
  @include tablet {
    flex: 0 1 48%;
  }

  @include desktop {
    max-width: 720px;
  }
}

.about-company ul {
  list-style-type: square;
}

.about-company li {
  @include desktop {
    margin: 20px 0;
  }
}
