/*
 * БЛОК ХЛЕБНЫЕ КРОШКИ
 */
.breadcrumbs {
  margin-left: 10px;
  max-width: 800px;

  @include tablet {
    margin-left: auto;
  }

  @include desktop {
    max-width: $desktop-width;
  }
}

.breadcrumbs .wrapper {
  padding: 0;
}

.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__item:not(:first-child) {
  margin-left: 5px;

  &::before {
    content: "/ ";
    color: #BDBDBD;
    font-size: 16px;
  }
}

.breadcrumbs a {
  color: #BDBDBD;
  font-size: 16px;
  line-height: 18px;

  &:hover {
    text-decoration: none;
  }
}

.breadcrumbs__current a {
  color: #BDBDBD;
}
