/*
 * Стили для страницы Автопарк
 */
.car-park__list {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;

  @include desktop {
    justify-content: flex-start;
  }
}

.car-park__item {
  display: flex;
  flex-direction: column;
  max-width: 470px;
  min-width: 450px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  margin:10px;
  margin-top: 0;

  @include tablet {
    margin: 20px;
    margin-top: 0;
  }

  @include  desktop {
    margin: 10px;
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.car-park__img-block {
  max-height: 314px;
}

.car-park__img-block img {
  display: block;
  width: 100%;
  height: auto;
}

.car-park__link {
  background-color: $black;
  color: #ffffff;
  font-size: 18px;
  min-height: 74px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  font-weight: 700;

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    outline-offset: 0;
    text-decoration: underline;
    background-color: #ffffff;
    color: $black;
  }
}

.car-park__link-text {
  align-self: center;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.car-park__link-arrow {
  flex: 0 0 77px;
  height: auto;
  background-color: #ffffff;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}
