/*
 * Стили футера
 */
.footer {
  background-color: $black;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

  @include media(1100px) {
    text-align: left;
    padding-top: 50px;
  }
}

.footer__top {
  @include tablet {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
  }
}

.footer__left {

}

.footer__nav-list {
  display: none;

  @include media(1100px) {
    display: flex;
    margin-bottom: 40px;
  }
}

.footer__nav-item {
  @include media(1100px) {
    margin: 0 10px;
  }

  @include desktop {
    margin: 0 25px;
  }
}

.footer__nav-item:first-child {
  margin-left: 0;
}

.footer__nav-item a {
  &:active,
  &:hover,
  &:focus {
    outline: 0;
    outline-offset: 0;
    text-decoration: underline;
  }
}

.footer__right {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    align-items: flex-start;
  }

  @include desktop {
    min-width: 470px;
  }
}

.footer a {
  color: #ffffff;
}

.footer__title,
.footer__right a {
  margin-bottom: 10px;

  @include tablet {
    margin-bottom: 15px;
  }
}

.footer__social-links {
  display: flex;
}

.footer__social-links a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 10px;

  @include tablet {
    margin-left: 0;
    margin-right: 25px;
  }
}

.footer__fb {
  background-image: url("../img/fb.svg");
}

.footer__insta {
  background-image: url("../img/insta.svg");
}

.footer__vk {
  background-image: url("../img/vk.svg");
}

.footer__bottom {
  padding-top: 15px;
  padding-bottom: 20px;
  border-top: 1px solid #BDBDBD;

  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}

.footer__bottom a {
  text-decoration: underline;
}
